<!-- index1.html -->
<!DOCTYPE html>
<html>

<head> 
    <meta charset="utf-8">
    <!-- <meta name="viewpoint"
    content="width=device-width, initial-scale=1"> -->
    <title>二次曲線繪圖神器???</title>
    <link rel="icon" type="image/png" href="/static/image/icon.png"> 
    <meta name="keywords" content="高中數學，拋物線，橢圓，雙曲線，畫圖">
    <meta name="description" content="這是一個完全免費的客製化繪圖工具">
    <link href="/static/css/style.css" rel="stylesheet" media="All" type="text/css">
    <script src="/static/JS/index1.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<body>
<header>
    <h1>EZdrawing</h1>
</header>
<nav>
    <h2>目錄</h2>
    <ul>
        <li><a href="#presentation">動圖成品</a></li>
        <li><a href="#elipse">橢圓</a></li>
        <li><a href="#parabola">拋物線</a></li>
        <li><a href="#hyperbola pair">雙曲線</a></li>
        <li><a href="#gif">動圖生成</a></li>
        <li><a href="#guideline">使用說明</a></li>
        <li><a href="#calculator">計算機</a></li>
        <li><a href="#introandmotivation">開發者與動機</a></li>
    </ul>
</nav>

<section id="#presentation">
    <h2>動圖成品</h2>
    <div class="image-container">
        <img src="/static/gif/hyperbolic_innershow.gif">
        <img src="/static/gif/hyperbolic_outershow.gif">
    </div>
    <div class="image-container">
        <img src="/static/gif/ovalshow.gif">
        <img src="/static/gif/parabolashow.gif">
    </div>    

<section id="elipse">
    <h2>橢圓</h2>
<div class="form-container">
    <form action="/calculate_elipse">
        <h4>橢圓方程式<br> $$\frac{(x-h)^2}{a^2} + \frac{(y-k)^2}{b^2} = 1$$</h4>
        a<sup>2</sup><input type="text" name="a2">
        b<sup>2</sup><input type="text" name="b2"><br>
        h<input type="text" name="h" value="0">
        k<input type="text" name="k" value="0"><br>
        <button title="Let's go!">開始計算結果</button>
    </form>
</div>
    </section>

<section id="parabola">
    <h2>拋物線</h2>
<div class="form-container">
    <form action="/calculate_parabola1">
        <h4>上下開口拋物線
        \[ (x-h)^2 = 4c(y-k) \]　</h4>
        4c<input type="text" name="p">
        h<input type="text" name="h" value="0"><br>
        k<input type="text" name="k" value="0"><br>
        <button title="Let's go!">開始計算結果</button>
     </form> 
    <form action="/calculate_parabola2">
        <h4>左右開口拋物線<br>\[ (y-k)^2 = 4c(x-h) \]</h4>
        4c<input type="text" name="p">
        h<input type="text" name="h" value="0"><br>
        k<input type="text" name="k" value="0"><br>
        <button title="Let's go!">開始計算結果</button>
    </form>
</div>   
</section>
  <hr/>
</section>
  <hr/>
</section>
<section id="hyperbola pair">
    <h2>雙曲線</h2>
<div class="form-container">
    <form action="/calculate_hyperbola1">
        <h4>左右開口雙曲線方程式<br>\[ \frac{(x-h)^2}{a^2} - \frac{(y-k)^2}{b^2} = 1 \]</h4>
        a<sup>2</sup>(x下係數)<input type="text" name="a2"><br>
        b<sup>2</sup>(y下係數)<input type="text" name="b2"><br>
        h<input type="text" name="h" value="0"><br>
        k<input type="text" name="k" value="0"><br>
        <button title="Let's go!">開始計算結果</button>
     </form>
    <form action="/calculate_hyperbola2">
        <h4>上下開口雙曲線方程式<br>\[ \frac{(y-k)^2}{a^2} - \frac{(x-h)^2}{b^2} = 1 \]</h4>
        a<sup>2</sup>(y下係數)<input type="text" name="a2"><br>
        b<sup>2</sup>(x下係數)<input type="text" name="b2"><br>
        h<input type="text" name="h" value="0"><br>
        k<input type="text" name="k" value="0"><br>
        <button title="Let's go!">開始計算結果</button>
    </form>
</div>
    </section>

<section id="gif">
    <h2>動圖生成</h2>由於生成速度較慢，暫時不開放，敬請見諒
    <h3>拋物線</h3><hr> 
    <div class="form-container">
    <form action="/paragif" onsubmit="startProgress()">
        <h4>與一直線(x=m or y=m)相切以及<br>和一圓內切之圓心軌跡方程式</h4>
        x or y<input type=""text" name="x_or_y" value="y"><br>
        m<input type="text" name="m" value="5"><br>
        C2:X坐標<input type="text" name="c_0_x" value="2"><br>
        C2:y坐標<input type="text" name="c_0_y" value="0"><br>
        C2:半徑<input type="text" name="c_0_r" value="1"><br>
        <button title="Let's go!">開始計算結果</button>
    </form>
    <div id="progressBar">
        <div id="progress" style="width: 0%;">0%</div>
    </div>
    </div>
    <hr>
    <h3>橢圓</h3><hr>
    <div class="form-container">
        <form action="/ellipsegif">
            <h4>與兩圓相切之圓心軌跡方程式<br>(大圓C1包小圓C2)<br></h4>
            C1:X坐標<input type="text" name="x_b" value="-1"><br>
            C1:y坐標<input type="text" name="y_b" value="0"><br>
            C1:半徑<input type="text" name="r_b" value="4"><br>
            C2:X坐標<input type="text" name="x_s" value="1"><br>
            C2:y坐標<input type="text" name="y_s" value="0"><br>
            C2:半徑<input type="text" name="r_s" value="1"><br>
            <button title="Let's go!">開始計算結果</button>
        </form>
    </div>
    <hr>
    <h3>雙曲線</h3><hr>
    <div class="form-container">
        <form action="/hypergif" onsubmit="startProgress()">
            <h4>與兩圓均內切或外切<br>之圓新軌跡方程式<br></h4>
            C1:X坐標<input type="text" name="x_b" value="0"><br>
            C1:y坐標<input type="text" name="y_b" value="-1"><br>
            C1:半徑<input type="text" name="r_b" value="7"><br>
            C2:X坐標<input type="text" name="x_s" value="0"><br>
            C2:y坐標<input type="text" name="y_s" value="9"><br>
            C2:半徑<input type="text" name="r_s" value="1"><br>
            <button title="Let's go!">開始計算結果</button>
        </form>
    </div>
    <hr>
    <div id="progressBar">
        <div id="progress" style="width: 0%;">0%</div>
    </div>
</section>

<section id="calculator">
    <h2>計算機</h2>
    <a href="/calculator"><h4>簡易計算機</h4></a>
</section>

<section id="guideline">
    <h2>使用說明</6></h2>
    1.為避免表單內請輸入整數<br>
    2.動圖生成圓心必須在軸上<br>
    3.動圖表單預設數字為一示例<br>
    4.進度條僅供參考<br>
    5.動圖題目中圓的參數請正確輸入，以免錯誤<br>
    <hr>
</section>

<section id="introandmotivation">
    <h2>開發者與動機</h2>
    <p>本網站由松山高中318班賴志全、朱禹澄所研究開發</p><hr>
    <p>目前數學進度為需要大量熟悉方程式圖形的二次曲線單元，為提升同儕們的學習品質，特別規劃此專案，
        期待能幫助每位同學們對於拋物線、橢圓、雙曲線的圖形理解。</p>
</section>
</body>
<strong>Copyright All Rights Reserved.</strong>
</html>
